<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="cbg_light card card-body text-center card_welcom">
      <h1><img class="icon" src="https://cdn-icons-png.flaticon.com/512/1205/1205671.png"></h1>
      <p class="t_batever c_dark"><strong>BatEver</strong></p>
      <a href="/users/login" class="cbg_light c_dark btn b_new">Login</a>
      <a href="/users/register" class="cbg_light c_dark btn b_new mb-2">Register</a>
    </div>
  </div>
</div>

